:root {
  --main-font: 'Poppins', sans-serif;
  --secondary-font: 'Cormorant Garamond', serif;
  --main-color: #000;
  --secondary-color: #fff;
  --basket-color: #f2da91;
  --border-color: #e1e0e1;
  --placeholder-color: #4a4a4a;
  --footer-background-color: #f7f7f7;
  --head-color: #f7f7f724;
  --bord-color: #f2f2f2;
  --white-hover-color: darkorange;
}
